@page
@model CreateModel
@using ContosoCrafts.WebSite.Services
@inject JsonFileProductService ProductService
@{
    ViewData["Title"] = "Create Page";
}
<div class="container">
    <h2>Create Restaurant</h2>
    <div class="container">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Product.Title" class="control-label" >Name</label>
                <input asp-for="Product.Title" class="form-control" />
                <span asp-validation-for="Product.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Image" class="control-label" >Photo URL</label>
                <input  asp-for="Product.Image" class="form-control"/>
                <span asp-validation-for="Product.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Url" class="control-label" >Website URL</label>
                <input asp-for="Product.Url" class="form-control"/>
                <span asp-validation-for="Product.Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Description" class="control-label">Description</label>
                <input asp-for="Product.Description" class="form-control" />
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>
            <button class="btn btn-primary" type="submit">Save</button>
        </form>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>