@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<body>
    <center>
        <br />
        <div class="privacytext">

            This website is created by Seattle University students for a course
            project.<br /><br />

            <b>Information Collection</b><br />
            We do not collect any personal information.<br /><br />

            <b>Links to Other Websites</b><br />
            Our website do contain links to third-party web sites or services that we do not own or have the rights of.
            We advise the users to read the terms and conditions and privacy policies of any third-party websites.<br /><br />
        </div>
    </center>
</body>